# Przygotowanie danych

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/filmy_dane.csv')
df.head(3)

                                            Recenzja  Sentyment
0  I went and saw this movie last night after bei...          1
1  Actor turned director Bill Paxton follows up h...          1
2  As a recreational golfer with some knowledge o...          1

In [5]:
df.loc[0, 'Recenzja'][-50:]

'and I suggest that you go see it before you judge.'